<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Efaz</title>
</head>

<body>
    <!--This was great practice! -->
    <h1> This HTML page is about me, Efaz.</h1>
    <h2> So on my free time, I like to do the following: </h2>
    <p>I like to watch movies and shows that <em> I can binge.</em> </p>
    <p>I <strong> love </strong>  to read comic books or novels that are in my bookshelf.</p>

    <p> My favorite ice cream flavors in no order: </p>
    <ul>
        <li> Cookie Dough </li>
        <li> Coffee Oreo </li> <!-- Try Fazzy's Creamery's version! -->
        <li> Brownie Batter </li>
    </ul>

    <p> My favorite movies in order: </p>
    <ol>
        <li>The Dark Knight</li>
        <li>Inglorious Bastards</li><!-- Excuse the language please. -->
        <li>The Lion King</li>
    </ol>

    <table>
        <tr>
            <th>Courses</th>
            <th>Semesters</th>
        </tr>
         <tr>
            <td>BMGT402</td>
            <td>Fall 2022</td>
        </tr>
         <tr>
            <td>ENGL393</td>
            <td>Winter 2023</td>
        </tr>
         <tr>
            <td>BMGT406</td>
            <td>Spring 2023</td>
        </tr>
    </table>

    <p>This will take you to my hello.html page:<a href= "hello.html">Hello Link</a> </p>

    <p>These are my favorite websites: </p>
    <a href= "https://www.amazon.com">Amazon!</a>
    <a href= "https://www.dunkindonuts.com/en">Love Donuts!</a>

    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Smith Logo">

</body>
</html>